apiVersion: v1
kind: Pod
metadata:
  name: postgres-tunnel
  namespace: cloudmind
spec:
  containers:
  - name: socat
    image: alpine/socat:latest
    command:
      - socat
      - TCP-LISTEN:5432,fork,reuseaddr
      - TCP:dify-postgres-9107e36a.postgres.database.azure.com:5432
    ports:
    - containerPort: 5432
      name: postgres
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "200m"
        memory: "256Mi"
  restartPolicy: Always
